.strength_meter{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index:-1;
}
.button_strength {
	text-decoration: none;
	color: #FFF;
	font-size: 13px;
}
.strength_meter div {
	width:0%;
	text-align: right;
	color: #000;
	-webkit-transition: all .3s ease-in-out;
	padding-right: 12px;
	border-radius:5px;
}
.strength_meter div p {
	position: absolute;
	top: -18px;
	right: 0px;
	font-size:13px;
}

.veryweak {
	color: #FFA0A0;
}
div.veryweak {
	background-color: #FFA0A0;
	border-color: #F04040 !important;
	width:25%!important;
}
.weak {
	color: #FFB78C;
}
div.weak {
	background-color: #FFB78C;
	border-color: #FF853C!important;
	width:50%!important;
}
.medium {
	color: rgb(169, 169, 71);
}
div.medium {
	background-color: #FFEC8B;
	border-color: #FC0!important;
	width:75%!important;
}
.strong {
	color: #green;
}
div.strong {
	background-color: #C3FF88;
	border-color: #8DFF1C!important;
	width:100%!important;
}