
table.dataTable {

  thead {
    tr {
      th:first-child {
        width: 200px;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;

      td.messageColumn {
        overflow: hidden;

        .messagePreview {
          max-width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.infoScreenModalTable {
  .dataColumn {
    white-space: pre;
  }
}