# macOS
.DS_Store

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests

## File-based project format:
*.iws
out/

# project files
target
node_modules

.slcache/
plugin.xml
hs_err_pid*
web-app/js/unifina/webpack-bundles/*
npm-debug.log*
tomcat.8081
