[submodule "plugins/streamr-socketio-server"]
	path = plugins/streamr-socketio-server
	url = git@github.com:Unifina/streamr-socketio-server.git
	branch = master
[submodule "web-app/js/unifina/streamr-socketio-client"]
	path = web-app/js/unifina/streamr-socketio-client
	url = git@github.com:Unifina/streamr-client.git
	branch = master
[submodule "test/functional/core"]
	path = test/functional/core
	url = git@github.com:Unifina/core-functest-common.git
