[submodule "plugins/streamr-socketio-server"]
	path = plugins/streamr-socketio-server
	url = git@github.com:streamr-dev/streamr-socketio-server.git
	branch = master
[submodule "web-app/js/unifina/streamr-socketio-client"]
	path = web-app/js/unifina/streamr-socketio-client
	url = git@github.com:streamr-dev/streamr-client.git
	branch = master
[submodule "test/functional/core"]
	path = test/functional/core
	url = git@github.com:streamr-dev/core-functest-common.git
[submodule "web-app/js/swagger-ui"]
	path = web-app/js/swagger-ui
	url = git@github.com:streamr-dev/swagger-ui
[submodule "plugins/streamr-http-api"]
	path = plugins/streamr-http-api
	url = git@github.com:streamr-dev/streamr-http-api
	branch = master
[submodule "web-app/js/webcomponentsjs"]
	path = web-app/js/webcomponentsjs
	url = git@github.com:streamr-dev/webcomponentsjs.git
