<plugin name='unifina-core' version='0.1' grailsVersion='2.2.0 &gt; *'>
  <author>Henri Pihkala</author>
  <authorEmail>henri.pihkala@unifina.com</authorEmail>
  <title>Unifina Core Plugin</title>
  <documentation>http://www.unifina.com</documentation>
  <type>UnifinaCoreGrailsPlugin</type>
  <resources>
    <resource>UnifinaCorePluginResources</resource>
    <resource>com.unifina.controller.security.LoginController</resource>
    <resource>com.unifina.controller.security.LogoutController</resource>
    <resource>com.unifina.controller.security.SecurityManagerController</resource>
    <resource>com.unifina.controller.signalpath.ModuleController</resource>
    <resource>com.unifina.controller.signalpath.SavedSignalPathController</resource>
    <resource>com.unifina.domain.ItchFile</resource>
    <resource>com.unifina.domain.data.Feed</resource>
    <resource>com.unifina.domain.data.Stream</resource>
    <resource>com.unifina.domain.security.SecRole</resource>
    <resource>com.unifina.domain.security.SecUser</resource>
    <resource>com.unifina.domain.security.SecUserSecRole</resource>
    <resource>com.unifina.domain.signalpath.Module</resource>
    <resource>com.unifina.domain.signalpath.ModuleCategory</resource>
    <resource>com.unifina.domain.signalpath.ModulePackage</resource>
    <resource>com.unifina.domain.signalpath.ModulePackageUser</resource>
    <resource>com.unifina.domain.signalpath.SavedSignalPath</resource>
    <resource>com.unifina.service.FeedService</resource>
    <resource>com.unifina.service.KafkaService</resource>
    <resource>com.unifina.service.ModuleService</resource>
    <resource>com.unifina.service.SignalPathService</resource>
    <resource>com.unifina.service.UnifinaSecurityService</resource>
    <resource>com.unifina.taglibs.SignalPathTagLib</resource>
    <resource>com.unifina.taglibs.UiTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.cometd.java' name='cometd-java-client' version='2.8.0' />
    </compile>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.20' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.2.1' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>