<plugin name='unifina-core' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Henri Pihkala</author>
  <authorEmail>henri.pihkala@unifina.com</authorEmail>
  <title>Unifina Core Plugin</title>
  <description>
</description>
  <documentation>http://www.unifina.com</documentation>
  <type>UnifinaCoreGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>UnifinaCoreDefaultConfig</resource>
    <resource>UnifinaCorePluginResources</resource>
    <resource>UnifinaCorePluginUrlMappings</resource>
    <resource>com.unifina.filters.UnifinaCoreAPIFilters</resource>
    <resource>spring.resources</resource>
    <resource>com.unifina.controller.core.signalpath.CanvasController</resource>
    <resource>com.unifina.controller.core.signalpath.LiveController</resource>
    <resource>com.unifina.controller.dashboard.DashboardController</resource>
    <resource>com.unifina.controller.data.FeedFileController</resource>
    <resource>com.unifina.controller.data.LocalFeedFileController</resource>
    <resource>com.unifina.controller.data.StreamController</resource>
    <resource>com.unifina.controller.feedback.FeedbackController</resource>
    <resource>com.unifina.controller.kafka.KafkaController</resource>
    <resource>com.unifina.controller.security.LoginController</resource>
    <resource>com.unifina.controller.security.LogoutController</resource>
    <resource>com.unifina.controller.security.ProfileController</resource>
    <resource>com.unifina.controller.security.SecurityManagerController</resource>
    <resource>com.unifina.controller.signalpath.ModuleController</resource>
    <resource>com.unifina.controller.signalpath.SavedSignalPathController</resource>
    <resource>com.unifina.controller.task.TaskWorkerController</resource>
    <resource>com.unifina.controller.tour.TourUserController</resource>
    <resource>com.unifina.controller.util.JavascriptErrorController</resource>
    <resource>com.unifina.controller.util.WebcomponentsController</resource>
    <resource>com.unifina.domain.config.HostConfig</resource>
    <resource>com.unifina.domain.dashboard.Dashboard</resource>
    <resource>com.unifina.domain.dashboard.DashboardItem</resource>
    <resource>com.unifina.domain.data.Feed</resource>
    <resource>com.unifina.domain.data.FeedFile</resource>
    <resource>com.unifina.domain.data.FeedUser</resource>
    <resource>com.unifina.domain.data.Stream</resource>
    <resource>com.unifina.domain.data.StreamSubclassDummy</resource>
    <resource>com.unifina.domain.security.SecRole</resource>
    <resource>com.unifina.domain.security.SecUser</resource>
    <resource>com.unifina.domain.security.SecUserSecRole</resource>
    <resource>com.unifina.domain.signalpath.Module</resource>
    <resource>com.unifina.domain.signalpath.ModuleCategory</resource>
    <resource>com.unifina.domain.signalpath.ModulePackage</resource>
    <resource>com.unifina.domain.signalpath.ModulePackageUser</resource>
    <resource>com.unifina.domain.signalpath.RunningSignalPath</resource>
    <resource>com.unifina.domain.signalpath.SavedSignalPath</resource>
    <resource>com.unifina.domain.signalpath.UiChannel</resource>
    <resource>com.unifina.domain.task.Task</resource>
    <resource>com.unifina.domain.tour.TourUser</resource>
    <resource>CorsResourceMapper</resource>
    <resource>com.unifina.service.BootService</resource>
    <resource>com.unifina.service.FeedFileService</resource>
    <resource>com.unifina.service.FeedService</resource>
    <resource>com.unifina.service.KafkaService</resource>
    <resource>com.unifina.service.ModuleService</resource>
    <resource>com.unifina.service.SignalPathService</resource>
    <resource>com.unifina.service.StreamService</resource>
    <resource>com.unifina.service.TaskService</resource>
    <resource>com.unifina.service.UnifinaSecurityService</resource>
    <resource>com.unifina.taglibs.SignalPathTagLib</resource>
    <resource>com.unifina.taglibs.UiTagLib</resource>
  </resources>
</plugin>