<plugin name='unifina-core' version='0.1' grailsVersion='2.3.7 &gt; *'>
  <author>Henri Pihkala</author>
  <authorEmail>henri.pihkala@unifina.com</authorEmail>
  <title>Unifina Core Plugin</title>
  <documentation>http://www.unifina.com</documentation>
  <type>UnifinaCoreGrailsPlugin</type>
  <resources>
    <resource>UnifinaCorePluginResources</resource>
    <resource>UnifinaCorePluginUrlMappings</resource>
    <resource>com.unifina.controller.data.LocalFeedFileController</resource>
    <resource>com.unifina.controller.data.StreamController</resource>
    <resource>com.unifina.controller.kafka.KafkaController</resource>
    <resource>com.unifina.controller.security.LoginController</resource>
    <resource>com.unifina.controller.security.LogoutController</resource>
    <resource>com.unifina.controller.security.SecurityManagerController</resource>
    <resource>com.unifina.controller.signalpath.ModuleController</resource>
    <resource>com.unifina.controller.signalpath.SavedSignalPathController</resource>
    <resource>com.unifina.domain.data.Feed</resource>
    <resource>com.unifina.domain.data.FeedFile</resource>
    <resource>com.unifina.domain.data.FeedUser</resource>
    <resource>com.unifina.domain.data.Stream</resource>
    <resource>com.unifina.domain.security.SecRole</resource>
    <resource>com.unifina.domain.security.SecUser</resource>
    <resource>com.unifina.domain.security.SecUserSecRole</resource>
    <resource>com.unifina.domain.signalpath.Module</resource>
    <resource>com.unifina.domain.signalpath.ModuleCategory</resource>
    <resource>com.unifina.domain.signalpath.ModulePackage</resource>
    <resource>com.unifina.domain.signalpath.ModulePackageUser</resource>
    <resource>com.unifina.domain.signalpath.SavedSignalPath</resource>
    <resource>com.unifina.domain.task.Task</resource>
    <resource>com.unifina.service.FeedFileService</resource>
    <resource>com.unifina.service.FeedService</resource>
    <resource>com.unifina.service.KafkaService</resource>
    <resource>com.unifina.service.ModuleService</resource>
    <resource>com.unifina.service.SignalPathService</resource>
    <resource>com.unifina.service.TaskService</resource>
    <resource>com.unifina.service.UnifinaSecurityService</resource>
    <resource>com.unifina.taglibs.SignalPathTagLib</resource>
    <resource>com.unifina.taglibs.UiTagLib</resource>
  </resources>
</plugin>