swagger: '2.0'
info:
  title: Streamr API
  description: Move your app forward with the Uber API
  version: 1.0.0
host: www.streamr.com
schemes:
  - https
basePath: /api/v1
produces:
  - application/json
paths:
  /streams:
    get:
      summary: List streams
      description: |
        Lists the streams available to the user.
      parameters:
        - name: name
          in: query
          description: Filter results by stream name.
          required: false
          type: string
      tags:
        - Stream
      responses:
        '200':
          description: An array of streams
          schema:
            type: array
            items:
              $ref: '#/definitions/Stream'
    post:
      summary: Create a new stream
      description: |
        Creates a new stream.
      parameters:
        - name: body
          in: body
          description: Stream object
          required: true
          schema:
            $ref: '#/definitions/StreamCreateRequest'
      tags:
        - Stream
      responses:
        '200':
          description: The stream that was created
          schema:
            $ref: '#/definitions/Stream'
  
  /canvases:
    get:
      summary: List saved canvases
      description: |
        Lists saved canvases from your archive.
      parameters:
        - name: name
          in: query
          description: Filter results by canvas name.
          required: false
          type: string
      responses:
        '200':
          description: An array of canvases
          schema:
            type: array
            items:
              $ref: '#/definitions/Canvas'
    post:
      summary: Create a new canvas
      description: |
        Creates a new canvas.
      parameters:
        - name: body
          in: body
          description: Canvas object
          required: true
          schema:
            $ref: '#/definitions/Canvas'
      tags:
        - Stream
      responses:
        '200':
          description: The canvas that was created
          schema:
            $ref: '#/definitions/Canvas'
      
  /live:
    get:
      summary: List live canvases
      description: |
        Lists live canvases.
      parameters:
        - name: state
          in: query
          description: Filter results by state.
          required: false
          type: string
          enum: [running, stopped]
        - name: name
          in: query
          description: Filter results by canvas name.
          required: false
          type: string
      responses:
        '200':
          description: An array of canvases
          schema:
            type: array
            items:
              $ref: '#/definitions/Canvas'
    post:
      summary: Create and start a new live canvas
      description: |
        Create and start a new live canvas.
      parameters:
        - name: body
          in: body
          description: Canvas object
          required: true
          schema:
            $ref: '#/definitions/Canvas'
      tags:
        - Stream
      responses:
        '200':
          description: The canvas that was started
          schema:
            $ref: '#/definitions/Canvas'

definitions:
  Stream:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for this stream.
      name:
        type: string
        description: Name of this stream.
      description:
        type: string
        description: Description of this stream.
      auth:
        type: string
        description: Auth key needed to produce data to this stream.
      streamConfig:
        $ref: '#/definitions/StreamConfig'
        description: Stream configuration
  
  StreamCreateRequest:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        description: Name of this stream.
      description:
        type: string
        description: Description of this stream.
      streamConfig:
        $ref: '#/definitions/StreamConfig'
        description: Stream configuration
  
  StreamConfig:
    type: object
    properties:
      fields:
        type: array
        default: []
        description: An array containing field definitions for this stream.
        items:
          $ref: '#/definitions/FieldDef'
  
  FieldDef:
    type: object
    required:
      - name
      - type
    properties:
      name:
        type: string
        description: name of the field
      type:
        type: string
        description: type of the field
        enum: [number, string, boolean, list, map]

  Canvas:
    type: object
    required:
      - modules
    properties:
      modules:
        type: array
        default: []
        items:
          $ref: '#/definitions/Module'
      settings:
        $ref: '#/definitions/CanvasSettings'

  CanvasSettings:
    type: object
    
  Module:
    type: object
    