
/** "default" is non-checked style */
.btn.toggle-permission {
    font-size: small;
    color: white;
    background: red;
}

/** overridden by checked style */
.btn.toggle-permission.active {
    color: white;
    background: green !important;   /* without !important, would be overridden by main.css .btn.active */
}
