
.credentials-control {
  margin-top: 5px;

  .title-label {
    padding-bottom: 10px;
  }
  .new-auth-key-row {
    margin-top: 20px;
    margin-bottom: 15px;

    .input-group-btn > button {
      height: 34px;
    }

    .permission-dropdown {
      border-radius: 0;
    }

    .new-auth-key-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .auth-key-button-row {
    margin-right: -15px;
  }
  .auth-key-table {
    thead {
      th {
        &.action-header {
          width: 85px;
        }
        &.key-header {
          width: 80px;
          padding-right: 20px;
          .visibility-controls {
            cursor: pointer;
            font-size: 18px;
            margin-top: -2px;
          }
        }
      }
    }
    .auth-key-table-row {
      td {
        padding-top: 10px;

        &.key-field {
          span.hidden-key {
            width: 50px;
            background-color: #b0b0b0;
            border-radius: 2px;
            color: transparent;
            text-shadow: none;
          }
          padding-right: 20px;
        }
      }
    }
    &:not(.show-keys) {
      th.key-header .hide-icon {
        display: none;
      }
      .auth-key-table-row td.key-field span.visible-key {
        display: none;
      }
    }
    &.show-keys {
      th.key-header .show-icon {
        display: none;
      }
      .auth-key-table-row td.key-field span.hidden-key {
        display: none;
      }
    }
    .auth-key-delete-button {
      margin-left: 5px;
    }
  }
}
