
.credentials-control {
  margin-top: 5px;

  .title-label {
    padding-bottom: 10px;
  }
  .new-auth-key-row {
    margin-top: 20px;
    margin-bottom: 15px;

    .input-group-btn > button {
      height: 34px;
    }

    .permission-dropdown,
    .permission-dropdown-toggle {
      border-radius: 0;
    }

    .new-auth-key-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .table {
    td,
    th {
      padding-top: 10px;

      &:not(:last-child) {
        padding-right: 10px;
      }
    }
    .show-key {
      cursor: pointer;
    }
    td.name-field {
      max-width: 90px;
      word-wrap: break-word;
    }
    .auth-key-delete-button {
      margin-right: -8px;
      margin-left: 5px;
    }
  }
}

// sm up
@media (min-width: 768px) {
  .credentials-control {
    .auth-key-table {
      tbody .auth-key-table-row {
        th.action-header {
          width: 100px;
        }
        td {
          &.action-field {
            width: 100px;
          }
        }
      }
    }
  }
}

// xs
@media (max-width: 767px) {
  .credentials-control {
    .auth-key-table {
      &:not(.show-keys) {
        tbody .auth-key-table-row {
          td {
            &.key-field {
              span {
                width: 60px;
              }
            }
          }
        }
      }
      &.show-keys {
        thead th.permission-header {
          display: none;
        }
        tbody .auth-key-table-row td.permission-field {
          display: none;
        }
      }
    }
  }
}
