.modal-body {

  .access-list {
    padding-top: 20pt;
  }

  .owner-label {
    font-weight: bold;
  }

  .access-row {
    padding-bottom: 10pt;
    display: flex;
  }

  .user-label {
    font-weight: bold;
    flex-grow: 1;
  }

  .permission-dropdown {
    padding-right: 10px;
  }

  .user-delete-button {

  }

  .has-error .form-control {
    background-color: #ffdddd;
  }

}
