.modal-body {

  .resource-name-label {
    font-weight: bold;
  }

  .access-list {
    padding-top: 20pt;
  }

  .owner-label {
    font-weight: bold;
  }

  .access-row {
    padding-bottom: 10pt;
    display: flex;
  }

  /* bootstrap would add margin-bottom for narrow viewports */
  .form-group {
    margin-bottom: 0px;
  }

  .user-label {
    font-weight: bold;
    flex-grow: 1;
  }

  .user-delete-button {
    margin-left: 10pt;
  }

  .new-user-row {
    display: flex;
  }

  .new-user-field {
    flex-grow: 1;
  }

  .new-user-button {
    margin-left: 10pt;
  }

  .has-error .form-control {
    background-color: #ffdddd;
  }

}
