.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    > a {
        color: #0324FF !important;
        font-size: 0.75em;
        outline: 0 !important;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
