
body.billing-account-page {
  #content-wrapper {
    padding-bottom: 100px;
  }

  #product-information {
    .plan-table {
      th {
        width: 20%;
      }
    }
  }

  .credit-card-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media(max-width: 768px) {
  body.billing-account-page {
    .slider.slider-horizontal {
      margin-bottom: 40px !important; // Have to be important to override the original margin written directly into the element

      .slider-tick-label {
        transform: rotate(90deg);
      }
    }
  }
}
