// BUILD PAGE STYLES

// SIDE MENU

@main-menu-width: 200px;

#main-menu label, .foobar {
	&:extend(.selected-theme #main-menu .navigation a);
}

#main-menu-inner {
	margin-top: @main-navbar-height;
}

#main-menu .menu-content {
	margin-top: 0px;
}

.form-group-period .input-group-addon {
	width: 60px;
}

#main-menu {
	position: fixed
}