// BUILD PAGE STYLES
body.canvas-editor-page {
	overflow: hidden;
	height: 100%;
	width: 100%;
	.form-group-period .input-group-addon {
		width: 60px;
	}

	&.selected-theme .breadcrumb-page {
		margin-top: 0px;
	}

	.load-save-group {
		width: 100%;
		& > .btn, & > .btn-group {
			width: 33.33%;
		}
		& > .btn-group > .btn {
			width: 100%;
		}
	}

	#save-dropdown-menu .disabled {
		display: none;
	}

	.nav-tabs.run-mode-tabs {
		> li > a:hover,
		> li > a:active {
			color: #999;
		}
		> li {
			float: left;
			width: 50%;
			&:first-child {
				> .nav-tab-orange-background {
					right: 0;
				}
				> .nav-tab-white-background {
					left: 0;
				}
			}
			&:last-child {
				> .nav-tab-orange-background {
					left: 0;
				}
				> .nav-tab-white-background {
					right: 0;
				}
			}
			> .nav-tab-background {
				position: absolute;
				width: 0;
				bottom: 0;
				height: 100%;
				border-bottom: 2px solid;
				transition: width 0.2s ease-in;

				+ a {
					border-radius: 0;
					border: none;
					margin-bottom: 2px;
				}
			}
			> .nav-tab-orange-background {
				border-bottom-color: @primary-color;
				width: 0;
				background-color: #181b1f;
			}
			> .nav-tab-white-background {
				border-bottom-color: #FFFFFF;
				width: 100%;
			}
			&.active {
				> .nav-tab-orange-background {
					width: 100%;
				}
				> .nav-tab-white-background {
					width: 0;
				}
			}
		}
	}
	#main-menu {
		// There was problems with overriding Bootstrap's styles and I didn't want to put the whole closure above under #main-menu tag
		.nav-tabs.run-mode-tabs li.active > .nav-tab-background + a {
			background: none;
		}
	}

	.run-button {
		i.fa {
			margin-right: 5px;
		}
	}

	.run-group {
		button.dropdown-toggle {
			padding-left: 0px;
			padding-right: 0px; 
		}
	}

	#content-wrapper {
		padding: @main-navbar-height 0 0;
	}

	#moduleTree {
		max-height: 300px;
		overflow:auto;	
	}

	#main-menu .twitter-typeahead {
		width: 100%;
	}

	.breadcrumb {
		margin-bottom: 0;
		margin-left: 0;
	}


	#addModule {
		margin-top: 4px;
	}
}