body.live-show-view {
	#content-wrapper {
		padding:38px 0px 0px 0px;
	}
	#toolbarForm {
		z-index:50;
		right:0;
		position:absolute;
		padding-right: 30px;
		padding-top: 15px;
	}
	#canvas{
		height:100%;
		width:100%;
	}
}