.login-page {
	.btn-sign-up {
		display: none;
	}
	
	.btn-sign-in {
		display: none;
	}
}
	
.login-page.show-sign-up {
	.btn-sign-up {
		display: inline-block;
	}
}

.login-page.show-sign-in {
	.btn-sign-up {
		display: inline-block;
	}
}