body.module-list {
	position:relative;
	h1.title {
		width: 100%;
		border-bottom: 3px solid #777;
		padding-bottom: 15px;
	}
	#module-help-tree {
		padding-bottom: 600px;
		.highlight {
			padding: inherit;
			margin-bottom: 0;
			background-color: #FFF;
			border: inherit;
			border-radius: 0;
			font-weight: bold;
		}
		.panel {
			margin-bottom: 10px;
			.panel-body table tr th:nth-child(1),
			.panel-body table tr th:nth-child(2) {
				width: 20%;
			}
		}
	}
	#sidebar .bs-docs-sidebar {
		position: fixed;
		padding-top: 70px;
		ul.nav li {
			&.active:hover, &.active:focus, &.active {
				>a {
					padding-left: 18px;
				    font-weight: 700;
				    color: #563d7c;
				    background-color: transparent;
				    border-left: 2px solid #563d7c
				}
			}
			a:hover, a:focus {
		    	padding-left: 19px;
			    color: #563d7c;
			    text-decoration: none;
			    background-color: transparent;
			    border-left: 1px solid #563d7c
		    }
			a {
				font-size: 14px;
				display: block;
			    padding-top: 2px;
			    padding-bottom: 2px;
			    font-weight: 500;
			    color: #767676
			}
			>ul.nav {
				display:none;
				li {
				    // padding-bottom: 10px;
					a {
						padding-left: 28px;
						font-size: 12px;
					}
					>ul.nav {
						display: none;
						li {
							a {
								padding-left: 36px;
								font-size: 12px;
							    padding-top: 1px;
							    padding-bottom: 1px;
							    font-weight: 400
							}
							a:focus, a:hover {
						    	padding-left:38px;
						    }
						    a.active, a.active:hover, a.active:focus {
						    	font-weight: bold;
						    }
							>ul.nav {
								display:none;
								li {
									a {
										padding-left: 44px;
										font-size: 12px;
									}
								}
							}
							&.active >ul.nav {
								display: block;
							}
						}
					}
					&.active >ul.nav {
						display: block;
					}
				}
			}
			&.active >ul.nav {
				display:block;
			}
			
		}

	}
}