body.module-list {
	position:relative;
	h1.title {
		width: 100%;
		border-bottom: 3px solid #777;
		padding-bottom: 15px;
	}
	#module-help-tree {
		padding-bottom: 600px;
		.highlight {
			padding: inherit;
			margin-bottom: 0;
			background-color: #FFF;
			border: inherit;
			border-radius: 0;
			font-weight: bold;
		}
		.panel {
			margin-bottom: 10px;
			.panel-body {
				table tr th:nth-child(1),
				table tr th:nth-child(2) {
					width: 20%;
				}
				.edit-btn,
				.save-btn {
					margin-top: -10px;
					margin-bottom: 10px;
					float: right;
				}
			}
		}
	}
	.moduleSearch {
		position:fixed;
		right:30px;
		top:60px;
		height:35px;
		width:200px;
	}
}