body.stream-show {
	table.file-table td.text-center {
		width:40px;
		.lbl {
			position:absolute;
			vertical-align: top;
			margin-left:2px
		}
	}
	.dropzone-box {
		margin-top:5px;
		min-height: 200px;
	}
	.history .delete-btn {
		height: 30px;
	}
	.history-start-date, .history-end-date {
		font-weight: bold;
	}
}