
<link rel="import" href="../../../js/polymer/polymer.html">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../../js/unifina/streamr-client/streamr-socketio-client.js"></script>
<script type="text/javascript" src="../../../js/socket.io-1.2.1/socket.io-1.2.1.js"></script>

<polymer-element name="streamr-client" attributes="server">
	<script>
	(function(){
		var streamrClient = new StreamrClient()

		Polymer('streamr-client', {
			// This function is executed multiple times, once for each element!
			created: function() {
				this.streamrClient = streamrClient
			},
			// This function is executed multiple times, once for each element!
			ready: function() {
				if (this.server) {
					streamrClient.options.socketIoUrl = this.server
					streamrClient.connect()
				}
			},
			getClient: function() {
				console.log("getClient called!")
					return streamrClient
			}
		});
	})();
	</script>
	
</polymer-element>
