@import '@streamr/streamr-layout/pcss/variables.pcss';

.button {
  background: #0324FF;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1em;
  font-weight: 600;
  line-height: 3em;
  outline: 0 !important;
  padding: 0 2.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 1.5px;
}

@media (--md-up) {
  .button {
    font-size: 0.875em;
    width: auto;
  }
}
