@import '@streamr/streamr-layout/pcss/selectors.pcss';

.root {
  /* … */
}

.link {
  display: block;
  margin: 0 auto;
  user-select: none;
  width: 100px;

  &,
  &:--enter,
  &:--idle {
    outline: 0;
  }
}
