
/**
 * Component styles
 **/
 .component {
	border-radius: 8px;
	color: black;
	background-color: white;
	opacity: 0.95;
	box-shadow: 0 2px 1px #aaa;
}
 
 .component.dashboard.dashboardEnabled:hover {
 	background-color: rgba(255,255,255,0.3);
 }
 
.component.focus {
	opacity: 1.0;
	box-shadow: 0 2px 1px rgba(255,153,0,0.3);
}
 
 .component a:link, a:visited, a:hover {

}
 
 .modulebody {
	border-radius: 8px;
	box-shadow: inset 0px 0px 4px 0px #B3B3B3;
}

div.input, div.output {
	opacity: 0.6;
}

div.input.connected, div.output.connected {
	opacity: 1.0;
}

div.input:hover, div.output:hover {

}

.ioSwitch {
	border: 1px solid white;
	border-radius: 3px;
}

.ioSwitchTrue {
	background-color: #595;
	color: white;
}
.ioSwitchTrue:hover {
	background-color: #6a6;
}

.ioSwitchFalse {
	background-color: #955;
	color: white;
}
.ioSwitchFalse:hover {
	background-color: #a66;
}

.moduleSwitch {
	border: 1px solid white;
	border-radius: 3px;
}

/**
 * jsPlumb styling
 **/
._jsPlumb_endpoint circle {
	stroke: #ccc;
	fill: #eee;
}
._jsPlumb_endpoint_connected circle {
	stroke: #ccc;
	fill: #fff;
}
._jsPlumb_hover circle, ._jsPlumb_endpoint_drop_allowed circle {
	fill: #FFFFD9 !important;
}
._jsPlumb_endpoint.warning circle {
	stroke: #FF6969;
	fill: #f9eeee;
}

/* Overlay element style */
._jsPlumb_connector path {
	fill: #aaa;
	stroke: none;
}

/* Connector style */
._jsPlumb_connector path:first-child {
 	stroke: #aaa;
	stroke-width: 3;
	fill: none;
}


/**
 * IO types
 **/
 
.Double {
	
}

.TradeEvent {
	color: 	darkblue;
}

.OrderBookEvent {
	color: 	darkblue;
}

.NOII {
	color: 	darkblue;
}

div.exportable {
	background-color: #FFFF66;	
}
div.export {
	color: #dd982D;
}

.chosen-container {
	color: black;
}

/**
 * Table styles
 **/

table tr td.positive {
	color:white;
	background-color: blue;
}

table tr td.negative {
	color:white;
	background-color: red;
}

table tr td.executed {
	color: green;
}
 
.controlgroup {
	border-width: 1px;
	border-color: #0a0a0a;
	border-radius: 8px;
	color: black;
	background-color: white;
	box-shadow: 0 2px 1px #aaa;
}

.loadBrowserTableWrapper table {
	background-color: white;
}

.loadBrowserTableWrapper table tr.selectable:hover, .loadBrowserTableWrapper table td.selectable:hover {
	background-color: #eee;
}
