.signalpath-canvas {
/* 	background-color: #ededed; */
	background-color: #eee;
/* 	background-image: url(../../../images/metal.jpg); */
}

/**
 * Component styles
 **/
 .component {
/* 	border-width: 1px; */
/* 	border-color: #ddd; */
	border-radius: 8px;
	color: black;
	background-color: white;
	opacity: 0.95;
/* 	box-shadow: inset 0px 1px 2px 0px #e6e6e6; */
/* 	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3; */
	box-shadow: 0 2px 1px #aaa;
}
 
.component.focus {
	opacity: 1.0;
	box-shadow: 0 2px 1px rgba(255,153,0,0.3);
}
 
 .component a:link, a:visited, a:hover {
/*     color: white; */
}
 
 .modulebody {
/* 	border: 1px solid #ccc; */
	border-radius: 8px;
	box-shadow: inset 0px 0px 4px 0px #B3B3B3;
}

div.input, div.output {
	opacity: 0.6;
}

div.input.connected, div.output.connected {
	opacity: 1.0;
}

div.input:hover, div.output:hover {
/* 	background-color: gray; */
}

.ioSwitch {
	border: 1px solid white;
	border-radius: 3px;
}

.ioSwitchTrue {
	background-color: #595;
	color: white;
}
.ioSwitchTrue:hover {
	background-color: #6a6;
}

.ioSwitchFalse {
	background-color: #955;
	color: white;
}
.ioSwitchFalse:hover {
	background-color: #a66;
}

.moduleSwitch {
	border: 1px solid white;
	border-radius: 3px;
}

/**
 * jsPlumb styling
 **/
._jsPlumb_endpoint circle {
	stroke: #ccc;
	fill: #eee;
}
._jsPlumb_endpoint_connected circle {
	stroke: #ccc;
	fill: #fff;
}
._jsPlumb_hover circle, ._jsPlumb_endpoint_drop_allowed circle {
	fill: #FFFFD9 !important;
}

/* Overlay element style */
._jsPlumb_connector path {
	fill: #aaa;
	stroke: none;
}

/* Connector style */
._jsPlumb_connector path:first-child {
/* 	stroke: #ddd; */
 	stroke: #aaa;
	stroke-width: 3;
	fill: none;
}


/**
 * IO types
 **/
 
.Double {
	
}

.TradeEvent {
	color: 	darkblue;
}

.OrderBookEvent {
	color: 	darkblue;
}

.NOII {
	color: 	darkblue;
}

div.exportable {
	background-color: #FFFF66;	
}
div.export {
	color: #dd982D;
/* 	background-color: #FFB84D;	 */
}

.chosen-container {
	color: black;
}

/**
 * Table styles
 **/

table tr td.positive {
	color:white;
	background-color: blue;
}

table tr td.negative {
	color:white;
	background-color: red;
}

table tr td.executed {
	color: green;
}

/**
 * Designer toolbar
 **/
 #controls {
/* 	background-color: #ccc; */
/* 	border: 3px black solid; */
/* 	height: 100%; */
/* 	background-color: #ddd; */
	
}
 
.controlgroup {
	border-width: 1px;
	border-color: #0a0a0a;
	border-radius: 8px;
	color: black;
	background-color: white;
	box-shadow: 0 2px 1px #aaa;
/* 	opacity: 0.90; */
/* 	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3; */
/* 	box-shadow: inset 0px 1px 2px 0px #e6e6e6; */
/* 	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3; */
}

.loadBrowserTableWrapper table {
	background-color: white;
}

.loadBrowserTableWrapper table tr.selectable:hover, .loadBrowserTableWrapper table td.selectable:hover {
	background-color: #eee;
}
