.chart {
	min-width: 450px;
	min-height: 300px;
	width: 800px;
	height: 500px;
	z-index: 4;
}

.chartRangeButtons {
	margin-bottom: 3px;
}

.chartDrawArea {
	display: inline-block;
	width: 650px;
	height: 400px;
}

.chart table {
	width: auto;
}

.chart .ioTable {
	float: left;	
}

.chart-resize-helper {
	border: 2px dotted black;
}

.seriesLink {
	margin-left: 10px;
}

.chart .y-axis-number {
	display:none;
}
