div.comment {
	color:black;
	background-color: #FFFA8B;
	width: 150px;
	min-width: 100px;
	height: 100px;
	min-height: 50px;
}

div.comment .modulebody {
	border: none;
	box-shadow: none;
}

textarea.comment {
	background-color: white;
}