// Common styles for all pages

html, .full-width-height {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.toolbar {
	margin-bottom: 15px;
}

dl dd {
	margin-bottom: 10px;
}

.alert i {
	margin-right: 5px;
}

.nested-column-fix {
	padding-left: 0;
}

#main-wrapper {
	height: 100%;
	width: 100%;
}

#content-wrapper {
	height: 100%;
}

.tt-cursor {
	background-color: #ccc;
}

table.sortable th {
	cursor: pointer;
}

.selectable {
	cursor: pointer;
}

.jstree {
	border-radius: 4px;
	border: 1px solid #ccc;
}

.jstree a {
	color: #555 !important;
}

body.embedded {
	background-color: transparent;

	#main-navbar,
	#main-menu,
	#main-menu-bg {
		display: none;
	}

	.mme #main-wrapper, #main-wrapper {
		padding-left: 0px;
	}

	#content-wrapper {
		padding: 0 !important;
	}
	#content-wrapper > :not(.embeddable) {
		display:none;
	}
}

.math-tex:not(.math-jax-ready)  {
	display:none;
}

.panel.list-panel:last-child {
	margin-bottom: 150px;
}