// Import base Bootstrap styling (pixel-admin theme)
@import "./pixel-admin/pixel-admin.less";
@import "./pixel-admin/pixel-admin-less/themes/default/default.less";

.selected-theme {
	.theme-default;
}

// import the pixel-admin widget styles you need
@import "./pixel-admin/pixel-admin-less/widgets/notifications.less";

// Bootstrap variable overrides

@font-size-base: 12px;

// pixel-admin variable overrides

@fonts-path:  "../../fonts";
@images-path: "../../images";

@main-navbar-height: 38px;
@main-navbar-right-padding: 0px;

// pixel-admin fixes and tweaks

.panel-heading {
	height: 40px;
	
	.panel-title {
		float: left;
	}
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: 0.5;
}

// Unifina general styles
.toolbar {
	margin-bottom: 15px;
}

dl dd {
	margin-bottom: 10px;
}

.alert i {
	margin-right: 5px;
}

.nested-column-fix {
	padding-left: 0;
}

// Unifina core page styles
@import "./unifina/pages/build.less";

#main-navbar {
	position: fixed;
}

#main-wrapper {
	height: 100%;
	width: 100%;
}

#content-wrapper {
	height: 100%;
}

#main-menu {
	overflow: visible;
}

.tt-cursor {
	background-color: #ccc;
}

#modal-spinner {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: white;
	opacity: 0.2;
}

#modal-spinner h1 {
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
}

.remote-tabs-content {
	outline: none;
}