// Import base Bootstrap styling (pixel-admin theme)
@import "./pixel-admin/pixel-admin.less";
@import "./pixel-admin/pixel-admin-less/themes/default/default.less";

.selected-theme {
	.theme-default;
}

// import the pixel-admin widget styles you need
@import "./pixel-admin/pixel-admin-less/widgets/notifications.less";


// Bootstrap variable overrides

@font-size-base: 12px;

// pixel-admin variable overrides

@fonts-path:  "../../fonts";
@images-path: "../../images";

@main-navbar-height: 38px;
@main-navbar-right-padding: 0px;

// Override: Show side ("main") menu related elements and padding only if body has .has-main-menu class.
#wrapper {
	&:extend(body.no-main-menu #main-wrapper);
}

#main-navbar #main-menu-toggle {
	display:none;
}

#main-navbar .navbar-header {
	padding-left: 0px;
}

body.has-main-menu {
	#main-wrapper {
		&:extend(body.mme #main-wrapper);
	}
	
	#main-navbar #main-menu-toggle {
		display: block;
	}
	
	#main-navbar .navbar-header {
		padding-left: @main-menu-collapsed-width;
	}
}


// Unifina core page styles
@import "./unifina/pages/build.less";
