.root {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.2s ease-in-out;
  transition-property: visibility, opacity;
  transition-delay: 0.2s, 0s;
  visibility: hidden;
  width: 100%;
  z-index: 0;
}

.active {
  opacity: 1;
  position: relative;
  transition-delay: 0s, 0.2s;
  visibility: visible;
  z-index: 1;
}
