@import '@streamr/streamr-layout/pcss/variables.pcss';

.termsWrapper {
  display: flex;
  justify-content: space-around;
  padding: 1.375em 0 0.5em;
}

@media (--md-up) {
  .termsWrapper {
    padding: 2.375em 0 1.5em;
  }
}
