
.deleteButton {
  margin-right: -8px;
}

span.publicKey {
  word-wrap: break-word;
  max-width: 100%;
}

.actionButtonContainer {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-left: 5px;

    &:last-child {
      margin-right: -8px;
    }
  }
}
