
.streamrDropdownButton + ul {
  > li {
    height: 34px;

    &:before {
      content: none !important;
    }

    > a {
      height: initial;
      font-size: 14px;
      padding: 8px 18px !important;
      color: #333;

      > span {
        padding-right: 5px;
      }
    }
  }
}

.streamrDropdownContainer {
  display: inline-block;
  padding-left: 10px;
}