
.titleRow {
  display: flex;

  .title {
    flex: 1;
    font-weight: 600;
    padding-left: 15px;
  }
  .controlContainer {
    flex: 0;

    .controls {
      width: 62px;

      > button {
        margin-left: 5px;
      }
    }
  }
}
