html, body {
	height: 100%;
}

/* button.active { */
/* 	background-color: #FFFF66;	 */
/* } */

#container {
	margin:0;
	min-height:100%;
/* 	background-color: gray; */
}

#controls {
	position: fixed;
	float:left;
	width: 200px;
	z-index: 100;
	padding: 10px;
}

#canvas {
	position:absolute;
/* 	top: 50px; */
	left: 240px;
}

.signalpath-canvas {
	position: relative;
}

#moduleTree {
	max-height: 200px;
	overflow:auto;	
}

.controlgroup {
	padding: 10px;
	margin-bottom: 10px;
}

.component {
	position: absolute; 
	padding: 7px;
	z-index: 5;
}

.component:hover {
	cursor:move;
/* 	border-color: black; */
}

.component input {
	width: 50px;
}

.component a:link, a:visited, a:hover {
    font-weight: bold;
    text-decoration: none;
}

.module {
	min-width: 150px;
}
.moduleheader {
	width: 100%;
	height: 20px;
/* 	background-color: red; */
	margin-bottom: 3px;
}

.modulebody {
	padding: 5px;
}

.modulefooter {
	overflow: hidden;
	width: 100%;
	margin-top: 3px;
}

.modulename {
/* 	float: left; */
	font-weight: bold;
}

.modulebutton {
	float: right;
/* 	font-weight: bold; */
/* 	padding: 2px; */
/* 	border: 1px black solid; */
	cursor:pointer;
}

.modulebutton:hover {
/* 	background-color: #FFFFEB; */
}

.modulebutton.delete {
/* 	color: white; */
/* 	background-color: red; */
}
.modulebutton.delete:hover {
/* 	background-color: #FF8A8A; */
}

.disabled {
/* 	background-color: #dcdcdc;  */
/* 	border: #3532ff 1px solid;  */
/* 	color: #000000;  */
/* 	cursor: default;  */
	display:none; 
}

table.paramTable {
	width: 100%;
	border: none;
	padding: 0px;
}

table.paramTable td input {
	width: 50px;
}

table.ioTable {
/* 	display: inline-block; */
	border: none;
	width: 100%;
	padding: 0px;
}

/* table tr.buy td { */
/* 	background-color: #e8eaff; */
/* } */

/* table tr.sell td { */
/* 	background-color: #ffe8e8; */
/* } */

td.input {
	text-align: right;
}
td.output {	
	text-align: left;
}

.parameter {
/* 	border: 1px white solid; */
/* 	background-color: white; */
}

div.input {

}

div.output {

}

/* .connected { */
/* 	background-color: red; */
/* } */

/* .connectionHolder { */
/*  		width: 0px; */
/*  		height: 0px; */
/* 		position: absolute; */
/* 		display: block; */
/* 		right: 0; */
/* 		bottom: 0; */
/* 		background-color: #bcd5e6; */
/* 		text-align: center; */
/* } */

.moduleSwitch {
	font-size: 7px;
	text-align: center;
/* 	height: 13px; */
	float: right;
	cursor: pointer;
	padding: 2px;
}

.clearState {

}

div.input:hover, div.output:hover {
	cursor: pointer;
}

.ioname {
	display: inline-block;
}

div.input .ioname {
	float: right;
}

div.output .ioname {
	float: left;
}

.switchContainer {
	display: inline-block;
}

div.input .switchContainer {
	float: left;
}

div.output .switchContainer {
	float: right;
}

.ioSwitch {
	display: inline-block;
	font-size: 7px;
	text-align: center;
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.option .optionTitle {
	width: 100px;
	display: inline-block;
}

._jsPlumb_endpoint {
	z-index:10;
/* 	background-color: white; */
}

.connectionHolder._jsPlumb_endpoint {
	cursor:move;
}

._jsPlumb_connector {
	z-index:1;
}

.menuItemGroup {
	margin-left: 150px;
}

.csvDownload {
	display: block;
}

.csvDownload img {
	vertical-align:middle; 	
}

.ui-menu {
	z-index:200;
}

/**
 * jQuery UI stuff
 **/
 .ui-autocomplete-loading { background: white url('../../images/spinner_16x16.gif') right center no-repeat; }
 .ui-button-text-only .ui-button-text {
	padding: 0.2em 0.7em;
 }
 
 /**
  * PanicButtons
  */
  table.panic tbody tr.blocked {
  	background-color: red;
  }
  
  table.panic tbody tr.blocked td {
  	background-color: red;
  }
  
  .panicButtons {
  	width: 200px;
  }
  

