@import "@streamr/streamr-layout/pcss/variables.pcss";

.root {
  align-items: center;
  display: flex;
  font-size: 16px;
  min-height: 100vh;
}

.content {
  background: inherit;
  flex: 1;
  padding: 7em 0;
}

.panel {
  padding: 7em 2em;
}
