body.dashboard-show {
	height:100%;

	#dashboard-view {
		overflow:auto;
		height:100%;
		list-style-type: none;
		padding: 0px 0px 70px;

		.dashboarditem {
			&.editing {
				.titlebar, .titlebar-clickable, .edit-btn {
					display:none;
				}
				.titlebar-edit {
					height:20px;
				}
			}
			&:not(.editing) {
				.titlebar-edit, .close-edit {
					display:none;
				}
			}
			
			.title {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			.widget-content {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			.panel-heading-controls {
				cursor:auto;
				label.btn.active {
					color:#333333;
				}
				.size-btn-group {
					display:none;
				}
				.btn-group {
					padding-top:0px;
				}
				.dropdown-menu li:not(.checked) .fa {
					opacity:0;
				}
			}
			.stat-panel {
				overflow: visible;
			}

			streamr-table {
				overflow:auto;
				width:100%;
				height:100%;
				max-height:400px;
				padding: 0px 15px 15px;
				.table-module-container {
					width: 100%;
					table.event-table-module-content {
						margin-top: -20px;
						margin-bottom: -10px;
						thead th,
						tbody td {
							padding-left: 20px;
						}
					}
				}
			}

			streamr-chart .streamr-widget-container {
				overflow:auto;
				width:100%;
				max-height:400px;
				padding: 0px 15px;
				margin-bottom: -20px;
				.chartDrawArea {
					width:100%;
				}
			}

			streamr-button {
				.streamr-widget-container {
					margin: 10px 30px;
				}
			}

			streamr-text-field .streamr-widget-container {
				margin-left: 20px;
				margin-right: 20px;
				.form-inline {
					margin: 0px;
					textarea.form-control {
						width: 100%;
						resize: vertical;
					}

					.send-btn {
						margin-top: 10px;
					}
				}
			}
		}
	}
	&:not(.editing) {
		.panel-heading-controls, .titlebar-clickable {
			display:none;
		}
	}
	&.editing {
		overflow:auto;

		.stat-row {
			.stat-cell {
				overflow:visible;
			}
			.titlebar {
				display:none;
			}
		}
	}
	&.selected-theme #main-menu .navigation .module.checked a {
		color: @primary-color;
	}
	#main-menu {
		.navigation {
			padding-top: 25px;
			.module.checked .menu-icon.fa-square,
			.module:not(.checked) .menu-icon.fa-check-square {
				display:none;
			}
		}
		.mm-dropdown > ul > li > a.ui-title {
			padding-left: 30px;
		}
	}
	#sidebar-view {
		button.delete-button {
			margin-top:5px;
			margin-bottom:200px;
		}
		.canvas.stopped .canvas-title {
			color:#666;
		}
		.canvas-title {
			margin-left:20px;
			cursor:pointer;
			span {
				word-break: break-all;
			}
		}
	}
	
	.titlebar-clickable {
		cursor: pointer;
	}
}