#main-menu .navigation .uichannel.checked .menu-icon.fa-square {
	display:none;
}
#main-menu .navigation .uichannel:not(.checked) .menu-icon.fa-check-square {
	display:none;
}
#main-menu .mm-dropdown > ul > li > a.ui-title {
	padding-left: 30px;
}
.selected-theme #main-menu .navigation .uichannel.checked a {
	color:@primary-color;
}
#dashboard-view .dashboarditem:not(.editing) .stat-panel .stat-row .stat-cell .titlebar-edit {
	display:none;
}
#dashboard-view .dashboarditem.editing .stat-panel .stat-row .stat-cell .titlebar {
	display:none;
}
#dashboard-view {
	height:100%;
	padding:0px;
	list-style-type: none;
}
.dashboarditem-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}