
.permissionRow {
  padding: 15px;
  display: flex;

  > *:not(first-child) {
    margin-left: 5px;
  }

  .userLabel {
    padding-left: 15px;
    flex: 1;
  }

  .select {
    width: 100px;
  }

  .errorContainer {
    display: flex;
    justify-content: center;
    margin-left: -5px;
    font-size: 12px;
  }
}

