
<link rel="import" href="../../../js/polymer/polymer.html">

<polymer-element name="streamr-label" attributes="channel">
	<template>
		<style>
			:host {
				font-size: 10px
			}
		</style>

		<streamr-client id="client"></streamr-client>
		<span class="streamr-label-value">{{value}}</span>
	</template>
	
	<script>
		Polymer('streamr-label',{
			ready: function() {
				var _this = this
				var trySubscribe = function() {
					if (_this.$.client.streamrClient) {
						_this.$.client.streamrClient.subscribe(
							_this.channel, 
							function(message) {
								_this.value = message.value
							},
							{resend_last: 1}
						)
					}
					else {
						setTimeout(trySubscribe, 200)
					}
				}

				trySubscribe()
			},
			parseDeclaration: function(elementElement) {
    			return this.lightFromTemplate(this.fetchTemplate(elementElement))
  			}
		});
	</script>
</polymer-element>

