
<link rel="import" href="../../../js/polymer/polymer.html">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../../js/socket.io-1.2.1/socket.io-1.2.1.js"></script>
<script type="text/javascript" src="../../../js/unifina/streamr-client/streamr-socketio-client.js"></script>

<polymer-element name="streamr-label" attributes="channel bah">
	<template>
		<style>
			p {
				font-size: 30px;
			}
		</style>
		<p>Price: <span>{{price}}</span></p>
		<span>{{channel}}</span>
	</template>
	
	
	<script>
	(function() {
	Polymer('streamr-label',{
			ready: function() {
			client = this.bah
			var this1 = this
			client.subscribe(
				this.channel, 
				function(message) {
					this1.price = message.y
					console.log(message.y)
				},
				{resend: true}
			)
			client.connect()
		},
		

		publish: {
			channel: '',
		}
		});
	})();
	</script>
</polymer-element>


