
<link rel="import" href="../../../js/polymer/polymer.html">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../../js/socket.io-1.2.1/socket.io-1.2.1.js"></script>
<script type="text/javascript" src="../../../js/unifina/streamr-client/streamr-socketio-client.js"></script>

<polymer-element name="streamr-frame">
	<template>
		<content class="cont"></content>

	</template>
	<script>
	(function(){
	var this1 = this
	Polymer('streamr-frame', {
		ready: function() {
			$(".cont").setAttribute("channel", "moi")
	}
	});
	})();
	</script>
	
</polymer-element>


