@import '@streamr/streamr-layout/pcss/variables.pcss';

.root {
  margin-top: 2em;
}

.inner {
  color: #897FFD;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.625em;
  font-weight: var(--medium);
  letter-spacing: 1px;
  line-height: 2.5em;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

@media (--sm-up) {
  .inner {
    font-size: 0.75em;
    font-weight: var(--semiBold);
    line-height: 1em;
  }
}
