name: CI & CD

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - 'docs/swagger.json'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/swagger.json'

env:
  GRAILS_WAR_ENV: 'test'
  GRAILS_VERSION: '2.5.6'
  JAVA_VERSION: '1.8.0.275'

jobs:

  test:
    name: Build, lint and test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - uses: sdkman/sdkman-action@master
        id: sdkman-grails
        with:
          candidate: grails
          version: ${{ env.GRAILS_VERSION }}
      - uses: actions/cache@v2.1.4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('grails-app/conf/BuildConfig.groovy') }}
          restore-keys: ${{ runner.os }}-maven
      - name: Install Grails
        run: |
          unzip ${{ steps.sdkman-grails.outputs.file }} -d "$HOME"
          echo "$HOME/grails-$GRAILS_VERSION/bin" >> $GITHUB_PATH
      - name: Build
        run: |
          make -f Makefile.ci compile
      - name: Unit Test
        run: |
          make -f Makefile.ci test-unit
      - name: Start Streamr Docker Stack
        uses: streamr-dev/streamr-docker-dev-action@v1.0.0-alpha.3
        with:
          services-to-start: "mysql redis"
      - name: Integration test
        run: |
          make -f Makefile.ci test-integration

  e2e:
    name: End to end test
    runs-on: ubuntu-18.04
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.1.1
        with:
          driver-opts: |
            network=host
      - name: Cache Docker layers
        uses: actions/cache@v2.1.4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build
        uses: docker/build-push-action@v2.3.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: false
          load: true
          tags: streamr/engine-and-editor:dev
          build-args: |
            GRAILS_WAR_ENV=${{ env.GRAILS_WAR_ENV }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Start Streamr Docker Stack
        uses: streamr-dev/streamr-docker-dev-action@v1.0.0-alpha.3
        with:
          services-to-start: "mysql redis cassandra parity-node0 parity-sidechain-node0 bridge data-union-server broker-node-no-storage-1 broker-node-storage-1 nginx smtp"
      - name: Set $NODE_VERSION variable
        run: |
          echo "NODE_VERSION=$(cat rest-e2e-tests/.nvmrc | sed -e '/^v/ s/^v//')" >> $GITHUB_ENV
      - name: Install Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Setup End to End tests
        run: |
          streamr-docker-dev start engine-and-editor
          streamr-docker-dev wait
          cd rest-e2e-tests
          npm ci
      - name: Run End to End tests
        run: |
          cd rest-e2e-tests
          npm run test:e2e
      - name: Run End to End stress tests
        continue-on-error: true # Allow failure on resend stress test
        run: |
          cd rest-e2e-tests
          npm run test:stress

  build-docker:
    name: Build Docker and push to Docker Hub
    needs:
      - test
      - e2e
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v2.2.1
        with:
          images: streamr/engine-and-editor
          tags: |
            type=sha
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          flavor: |
            latest=auto
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.1.1
        with:
          driver-opts: |
            network=host
      - name: Cache Docker layers
        uses: actions/cache@v2.1.4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2.3.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          load: false
          build-args: |
            GRAILS_WAR_ENV=${{ env.GRAILS_WAR_ENV }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
